<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    cacheResultFile=".cache/.phpunit.result.cache"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>tests/</directory>
        </testsuite>
        <testsuite name="Single Table">
            <directory>tests/Feature/Strategies/SingleTable</directory>
        </testsuite>
        <testsuite name="Single Table Extended">
            <directory>tests/Feature/Strategies/SingleTableExtended</directory>
        </testsuite>
        <testsuite name="Extra Table">
            <directory>tests/Feature/Strategies/ExtraTable</directory>
        </testsuite>
        <testsuite name="Extra Table Extended">
            <directory>tests/Feature/Strategies/ExtraTableExtended</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
</phpunit>
