<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="All">
            <directory>tests/</directory>
        </testsuite>
        <testsuite name="SingleTable">
            <directory>tests/Feature/Strategies/SingleTable</directory>
        </testsuite>
        <testsuite name="SingleTableExtended">
            <directory>tests/Feature/Strategies/SingleTableExtended</directory>
        </testsuite>
        <testsuite name="AdditionalTable">
            <directory>tests/Feature/Strategies/AdditionalTable</directory>
        </testsuite>
        <testsuite name="AdditionalTableExtended">
            <directory>tests/Feature/Strategies/AdditionalTableExtended</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
